<section id="browse">
    <h1>
        Browse
    </h1>
    <p>
        <a href="#">Add a render</a>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="name">Name:</label> <input type="text" name="name">
            <label for="building">Image:</label> <input type="file" name="building">
            <input type="submit" name="submit" value="Add">
        </form>
    </p>
    <ul>
        {{#images}}
        <li>
            <div>
                <a href="#" rel="{{id}}">Love this building</a>
                <span>{{votes}}</span>
                <a href="#">Share with friends</a>
            </div>
            <a href="{{baseurl}}view/{{id}}/">
                <img src="{{file}}" alt="{{name}}">
            </a>
            <h2>
                {{name}}
            </h2>
            {{#has_comments}}
            <ul>
                {{#comments}}
                <li class="top-comment">
                    {{comment}}
                </li>
                {{/comments}}
            </ul>
            {{/has_comments}}
        </li>
        {{/images}}
    </ul>
    <h1>
        Chirp chirp!
    </h1>
    <p>
        Uh oh! We've run out of Buildings for Birds.
    </p>
    <p>
        <a href="#">Add a render</a>
    </p>
</section>
