<header>
    <h1>
        Buildings for Birds
    </h1>
    <div>
        Social buttons
    </div>
    <aside>
        Notification text can go here.
    </aside>
</header>
<section id="intro">
    <h1>
        Welcome
    </h1>
    <h2>
        P'caaawk!
    </h2>
    <p>
        On occasion, architects forget they're designing for humans and instead create a building only to be enjoyed from 500m above ground level.
    </p>
</section>
<section id="browse">
    <h1>
        Browse
    </h1>
    <p>
        <a href="#">Add a render</a>
    </p>
    <ul>
        <li>
            <img src="#" alt="My Building">
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
        <li>
            <img src="#" alt="My Building">
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
    </ul>
    <h1>
        Chirp chirp!
    </h1>
    <p>
        Uh oh! We've run out of Buildings for Birds.
    </p>
    <p>
        <a href="#">Add a render</a>
    </p>
</section>
<footer>
    <h1>
        Buildings for Birds
    </h1>
    <p>
        Copyright &copy; 2013 <a href="http://thinkmoult.com/">Dion Moult</a>
    </p>
</footer>
