<section id="browse">
    <h1>
        Browse
    </h1>
    <p>
        <a href="#">Add a render</a>
    </p>
    <ul>
        <li>
            <div>
                <a href="#">Love this building</a>
                400
                <a href="#">Share with friends</a>
            </div>
            <a href="#">
                <img src="http://placekitten.com/g/222/269" alt="My Building">
            </a>
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
        <li>
            <div>
                <a href="#">Love this building</a>
                400
                <a href="#">Share with friends</a>
            </div>
            <a href="#">
                <img src="http://placekitten.com/g/222/100" alt="My Building">
            </a>
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
        <li>
            <div>
                <a href="#">Love this building</a>
                400
                <a href="#">Share with friends</a>
            </div>
            <a href="#">
                <img src="http://placekitten.com/g/222/269" alt="My Building">
            </a>
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
        <li>
            <div>
                <a href="#">Love this building</a>
                400
                <a href="#">Share with friends</a>
            </div>
            <a href="#">
                <img src="http://placekitten.com/g/222/269" alt="My Building">
            </a>
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
        <li>
            <div>
                <a href="#">Love this building</a>
                400
                <a href="#">Share with friends</a>
            </div>
            <a href="#">
                <img src="http://placekitten.com/g/222/167" alt="My Building">
            </a>
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
        <li>
            <div>
                <a href="#">Love this building</a>
                400
                <a href="#">Share with friends</a>
            </div>
            <a href="#">
                <img src="http://placekitten.com/g/222/100" alt="My Building">
            </a>
            <h2>
                Building name
            </h2>
            <ul>
                <li class="top-comment">
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
                <li>
                    Comment 1
                </li>
            </ul>
        </li>
    </ul>
    <h1>
        Chirp chirp!
    </h1>
    <p>
        Uh oh! We've run out of Buildings for Birds.
    </p>
    <p>
        <a href="#">Add a render</a>
    </p>
</section>
