<section id="browse" class="single">
    <h1>
        View
    </h1>
    <p>
        <a href="#">View all</a>
    </p>
    <h2>
        Building name
    </h2>
    <div>
        <img src="{{baseurl}}images/building.jpg" alt="Building">
        <div>
            <a href="#">Love this building</a>
            400
            <a href="#">Share with friends</a>
        </div>
        <p>
            Social sharing
        </p>
        <ul>
            <li>
                <p>
                    Comment comment comment
                    Comment comment comment
                    Comment comment comment
                    Comment comment comment
                    Comment comment comment
                    Comment comment comment
                    Comment comment comment
                </p>
                <a href="#">Vote up</a>
            </li>
            <li>
                <p>
                    Comment comment comment
                </p>
                <a href="#">Vote up</a>
            </li>
            <li>
                <p>
                    Comment comment comment
                </p>
                <a href="#">Vote up</a>
            </li>
            <li>
                <p>
                    Comment comment comment
                </p>
                <a href="#">Vote up</a>
            </li>
            <li>
                <p>
                    Comment comment comment
                </p>
                <a href="#">Vote up</a>
            </li>
        </ul>
    </div>
</section>
